<a href="https://colab.research.google.com/github/SotaYoshida/Lecture_DataScience/blob/2021/notebooks/Python_misc_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandasの使い方 (基礎)

```Pandas```は、データ分析のためのライブラリで  
統計量を計算・表示したり、それらをグラフとして可視化出来たり  
前処理などの地道だが重要な作業を比較的簡単に行うことができます。


まずはインポートしましょう。```pd```という名前で使うのが慣例です。

In [ ]:
import pandas as pd

pandasでは主に```Series```と```DataFrame```の２つのオブジェクトを扱います。  
SeriesはDataFrameの特殊な場合とみなせるので、以下ではDataFrameのみ説明することにします。

## DataFrame型

DataFrameはExcelシートのような二次元のデータを表現するのに利用され  
各種データ分析などで非常に役にたちます。

In [ ]:
from pandas import DataFrame

以下の辞書型をDataFrame型のオブジェクトに変換してみましょう。

In [ ]:
data = { '名前': ["Aさん", "Bさん", "Cさん", "Dさん", "Eさん"],
        '出身都道府県':['Tokyo', 'Tochigi', 'Hokkaido','Kyoto','Tochigi'],
        '生年': [ 1998, 1993,2000,1989,2002],
        '身長': [172, 156, 162, 180,158]}
df = DataFrame(data)
print("dataの型", type(data))
print("dfの型",type(df))

dataの型 <class 'dict'>
dfの型 <class 'pandas.core.frame.DataFrame'>

jupyter環境でDataFrameを読むと、"いい感じ"に表示してくれる

In [ ]:
df

    名前    出身都道府県    生年   身長
0  Aさん     Tokyo  1998  172
1  Bさん   Tochigi  1993  156
2  Cさん  Hokkaido  2000  162
3  Dさん     Kyoto  1989  180
4  Eさん   Tochigi  2002  158

printだとちょっと無機質な感じに。

In [ ]:
print(df)

    名前    出身都道府県    生年   身長
0  Aさん     Tokyo  1998  172
1  Bさん   Tochigi  1993  156
2  Cさん  Hokkaido  2000  162
3  Dさん     Kyoto  1989  180
4  Eさん   Tochigi  2002  158

```info()```関数を作用させると、詳細な情報が得られる。  
列ごとにどんな種類のデータが格納されているのかや、
メモリ使用量など表示することができる。

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   名前      5 non-null      object
 1   出身都道府県  5 non-null      object
 2   生年      5 non-null      int64
 3   身長      5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

## DataFrameの要素を確認・指定する方法

index: 行方向のデータ項目(おもに整数値(行番号),ID,名前など)  
columns: 列方向のデータの項目(おもにデータの種類)  
をそれぞれ表示してみよう。

In [ ]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df.columns

Index(['名前', '出身都道府県', '生年', '身長'], dtype='object')

行方向を、整数値(行数)ではなく名前にしたければ

In [ ]:
data1 = {'出身都道府県':['Tokyo', 'Tochigi', 'Hokkaido','Kyoto','Tochigi'],
        '生年': [ 1998, 1993,2000,1989,2002],
        '身長': [172, 156, 162, 180,158]}
df1 = DataFrame(data1)
df1.index =["Aさん", "Bさん", "Cさん", "Dさん", "Eさん"]
df1

       出身都道府県    生年   身長
Aさん     Tokyo  1998  172
Bさん   Tochigi  1993  156
Cさん  Hokkaido  2000  162
Dさん     Kyoto  1989  180
Eさん   Tochigi  2002  158

などとしてもよい。

### 特定の列を取得したい場合

In [ ]:
df["身長"]

0    172
1    156
2    162
3    180
4    158
Name: 身長, dtype: int64

とする。  
以下の方法は非推奨とする。

In [ ]:
df.身長

0    172
1    156
2    162
3    180
4    158
Name: 身長, dtype: int64

値のリスト(正確にはnumpy.ndarray型)として取得したければ

In [ ]:
df["身長"].values

array([172, 156, 162, 180, 158])

In [ ]:
df["出身都道府県"].values

array(['Tokyo', 'Tochigi', 'Hokkaido', 'Kyoto', 'Tochigi'], dtype=object)

などとすればよい。

慣れ親しんだ形に変換したければ、リストに変換すればよい

In [ ]:
list(df["出身都道府県"].values)

['Tokyo', 'Tochigi', 'Hokkaido', 'Kyoto', 'Tochigi']

ある列が特定のものに一致するもののみを抽出するのも簡単にできる

In [ ]:
df[df["出身都道府県"]=="Tochigi"]

    名前   出身都道府県    生年   身長
1  Bさん  Tochigi  1993  156
4  Eさん  Tochigi  2002  158

これは

In [ ]:
df["出身都道府県"]=="Tochigi"

0    False
1     True
2    False
3    False
4     True
Name: 出身都道府県, dtype: bool

が条件に合致するかどうかTrue/Falseの配列になっていて、  
df[ [True/Falseの配列] ]とすると、Trueに対応する要素のみを返す  
フィルターのような役割になっている。

### 列の追加

In [ ]:
#スカラー値の場合"初期化"のような振る舞いをする
df["血液型"] = "A"
df

    名前    出身都道府県    生年   身長 血液型
0  Aさん     Tokyo  1998  172   A
1  Bさん   Tochigi  1993  156   A
2  Cさん  Hokkaido  2000  162   A
3  Dさん     Kyoto  1989  180   A
4  Eさん   Tochigi  2002  158   A

In [ ]:
#リストで追加
df["血液型"] = [ "A", "O","AB","B","A"]
df

    名前    出身都道府県    生年   身長 血液型
0  Aさん     Tokyo  1998  172   A
1  Bさん   Tochigi  1993  156   O
2  Cさん  Hokkaido  2000  162  AB
3  Dさん     Kyoto  1989  180   B
4  Eさん   Tochigi  2002  158   A

### 特定の行を取得したい場合

たとえば、行番号がわかっているなら、```iloc```関数を使えば良い

In [ ]:
df.iloc[3]

名前          Dさん
出身都道府県    Kyoto
生年         1989
身長          180
血液型           B
Name: 3, dtype: object

値のみ取得したければ先程と同様

In [ ]:
df.iloc[3].values

array(['Dさん', 'Kyoto', 1989, 180, 'B'], dtype=object)

また、以下のような使い方もできるが

In [ ]:
df[1:4] #1から3行目まで

    名前    出身都道府県    生年   身長 血液型
1  Bさん   Tochigi  1993  156   O
2  Cさん  Hokkaido  2000  162  AB
3  Dさん     Kyoto  1989  180   B

```df[1]```といった使い方は出来ない。

### より複雑な行・列の抽出

上にならって、2000年より前に生まれた人だけを抽出し

In [ ]:
df[ df["生年"] < 2000 ]

    名前   出身都道府県    生年   身長 血液型
0  Aさん    Tokyo  1998  172   A
1  Bさん  Tochigi  1993  156   O
3  Dさん    Kyoto  1989  180   B

さらにこのうち身長が170cm以上の人だけがほしければ

In [ ]:
df[(df["生年"] < 2000) & (df["身長"]>170)]

    名前 出身都道府県    生年   身長 血液型
0  Aさん  Tokyo  1998  172   A
3  Dさん  Kyoto  1989  180   B

などとすればよい。  
他にも```iloc```,```loc```などを用いれば  
特定の行・列を抽出することができる

* ```iloc```は番号の指定のみに対応
* ```loc```は名前のみ

**欲しい要素の数値もしくは項目名のリスト**を  
行・列の２つついて指定してやればよい。

In [ ]:
df.iloc[[0], [0]] #0行目,0列目

    名前
0  Aさん

In [ ]:
#スライスで指定することもできる
df.iloc[1:4, :3] #1-3行目かつ0-2列目 (スライスの終点は含まれないことに注意)

#スライスの場合は、 1:4が[1,2,3]と同じ働きをするので、括弧[]はいらない

    名前    出身都道府県    生年
1  Bさん   Tochigi  1993
2  Cさん  Hokkaido  2000
3  Dさん     Kyoto  1989

```loc```を使う場合は、indexの代わりに項目名で指定する。

※今の場合、行を指定する項目名が既に整数値なので  
インデックスと見分けが付きづらいことに注意

In [ ]:
df.loc[1:4,["名前","身長"]]

    名前   身長
1  Bさん  156
2  Cさん  162
3  Dさん  180
4  Eさん  158

In [ ]:
df.loc[[1,2,3,4],"名前":"生年"]

    名前    出身都道府県    生年
1  Bさん   Tochigi  1993
2  Cさん  Hokkaido  2000
3  Dさん     Kyoto  1989
4  Eさん   Tochigi  2002

といった具合。

```loc```を使う場合、1:4や[1,2,3,4]は  
indexのスライスではなく、項目名を意味し  
Eさんのデータも含まれている事がわかる。

## Webページにある表をDataFrameとして取得する

```pandas```内の```read_html```関数を用いれば、  
Webページの中にある表をDataFrame形式で取得することもできます。

以下では例としてWikipediaの[ノーベル物理学賞](https://ja.wikipedia.org/wiki/%e3%83%8e%e3%83%bc%e3%83%99%e3%83%ab%e7%89%a9%e7%90%86%e5%ad%a6%e8%b3%9e)のページにある、受賞者一覧を取得してみましょう

In [ ]:
url = "https://ja.wikipedia.org/wiki/%e3%83%8e%e3%83%bc%e3%83%99%e3%83%ab%e7%89%a9%e7%90%86%e5%ad%a6%e8%b3%9e"
tables = pd.read_html(url)

In [ ]:
print(len(tables))

21

ページ内に、21個もの表があることがわかります。  
(ほとんどはwikipediaのテンプレート等)

たとえば、2010年代の受賞者のみに興味がある場合は

In [ ]:
df = tables[12]
df

       年度  ...                                  受賞理由[3]・原著ないし関連論文
0   2010年  ...                          二次元物質グラフェンに関する革新的実験[注 70]
1   2010年  ...                          二次元物質グラフェンに関する革新的実験[注 70]
2   2011年  ...  遠方の超新星の観測を通した宇宙の加速膨張の発見Astrophys. J.: 517 (199...
3   2011年  ...  遠方の超新星の観測を通した宇宙の加速膨張の発見Astrophys. J.: 517 (199...
4   2011年  ...  遠方の超新星の観測を通した宇宙の加速膨張の発見Astrophys. J.: 517 (199...
5   2012年  ...  個別の量子系に対する計測および制御[注 71]を可能にする画期的な実験的手法に関する業績[4...
6   2012年  ...  個別の量子系に対する計測および制御[注 71]を可能にする画期的な実験的手法に関する業績[4...
7   2013年  ...  欧州原子核研究機構 (CERN) によって存在が確認された素粒子（ヒッグス粒子）に基づく、質...
8   2013年  ...  欧州原子核研究機構 (CERN) によって存在が確認された素粒子（ヒッグス粒子）に基づく、質...
9   2014年  ...                高輝度で省電力の白色光源を実現可能にした青色発光ダイオードの発明[9]
10  2014年  ...                高輝度で省電力の白色光源を実現可能にした青色発光ダイオードの発明[9]
11  2014年  ...                高輝度で省電力の白色光源を実現可能にした青色発光ダイオードの発明[9]
12  2015年  ...              素粒子「ニュートリノ」が質量を持つことを示すニュートリノ振動の発見[10]
13  2015年  ...              素粒子「ニュートリノ」が質量を持つことを示すニュートリノ振動の発見[10]
14  2016年  ...                 物質のトポロジカル相とトポロジカル相転移の理論的発見[11][12]
15  2016年  ...                 物質のトポロジカル相とトポロジカル相転移の理論的発見[11][12]
16  2016年  ...                 物質のトポロジカル相とトポロジカル相転移の理論的発見[11][12]
17  2017年  ...                           LIGO検出器および重力波の観測への決定的な貢献
18  2017年  ...                           LIGO検出器および重力波の観測への決定的な貢献
19  2017年  ...                           LIGO検出器および重力波の観測への決定的な貢献
20  2018年  ...                               光ピンセットの開発と生体システムへの応用
21  2018年  ...                             超高出力・超短パルスレーザーの生成方法の開発
22  2018年  ...                             超高出力・超短パルスレーザーの生成方法の開発
23  2019年  ...                                     物理宇宙論における理論的発見
24  2019年  ...                                太陽型恒星を周回する太陽系外惑星の発見
25  2019年  ...                                太陽型恒星を周回する太陽系外惑星の発見

[26 rows x 5 columns]

## DataFrameのcsv/Excelファイルへの書き出し

DataFrameオブジェクトは、```pandas```内の関数を用いれば、  
簡単にcsvやExcelファイルとして書き出すことができます。

先程の、２０１０年代のノーベル物理学賞受賞者のデータを、  
Google Driveにファイルとして書き出してみましょう。

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**csvとして書き出す場合**

適当にパスを指定して、DataFrameオブジェクトに  
```to_csv```関数を作用させます。

In [ ]:
df.to_csv("/content/drive/My Drive/AdDS2021/pd_write_test.csv")

**Excelファイルとして書き出す場合**

この場合も同様で、```to_excel```関数を用います。

In [ ]:
df.to_excel("/content/drive/My Drive/AdDS2021/pd_write_test.xlsx")

上記の関数内で文字コードを指定することもできます。  
例: ```encoding="utf-8_sig"```, ```encoding="shift_jis"```

## Pandasで複雑なエクセルファイルを操作する

Pandasにはread_excel()という関数が用意されていて、  
多数のシートを含むようなエクセルファイルを開くことも出来る。

まずは必要なモジュールをインポートしよう。

In [1]:
import pandas as pd
from pandas import DataFrame

今まではGoogle Driveにいれたファイルを読み出していたが、  
Webから直接xlsxファイルを読み込んでみよう。

In [6]:
url = "https://www.mext.go.jp/content/20201225-mxt_kagsei-mext_01110_012.xlsx"
input_file = pd.ExcelFile(url)

ブック内のシートの一覧は以下のように取得できる。

In [5]:
sheet_names = input_file.sheet_names
print("pandas: シート名",sheet_names)

pandas: シート名 ['表全体', '1穀類', '2いも及びでん粉類', '3砂糖及び甘味類', '4豆類', '5種実類', '6野菜類', '7果実類', '8きのこ類', '9藻類', '10魚介類', '11肉類', '12鶏卵', '13乳類', '14油脂類', '15菓子類', '16し好飲料', '17調味料及び香辛料', '18調理済み流通食品類']

シートを指定するのは、インデックスかシート名の文字列で行う。

"1 穀類"を使うことにして、  
pandasにあるread_excel関数を使ってみよう。  
read_excel関数の最初の引数にはパスの他に、urlも取れる。

In [11]:
df = pd.read_excel(url,sheet_name="1穀類")
df

     Unnamed: 0 Unnamed: 1  ... Unnamed: 60                         更新日：2021年2 月○日
0           NaN    食　品　番　号  ...         NaN                                   備　　考
1           NaN        NaN  ...       食塩相当量                                    NaN
2           NaN        NaN  ...         NaN                                    NaN
3           NaN        NaN  ...         NaN                                    NaN
4           NaN        NaN  ...         NaN                                    NaN
..          ...        ...  ...         ...                                    ...
211         1.0      01139  ...          Tr                           歩留り： 55～60 %
212         1.0      01140  ...           0                別名： こうりゃん、ソルガム、たかきび、マイロ
213         1.0      01141  ...           0  別名： こうりゃん、ソルガム、たかきび、マイロ\n歩留り： 70～80 %
214         1.0      01142  ...           0                            別名：黒麦（くろむぎ）
215         1.0      01143  ...           0              別名:黒麦（くろむぎ）\n歩留り： 65～75 %

[216 rows x 62 columns]

同じものが得られている。

### データの整形

次に、今取得したデータフレームのままでは少々扱い辛いので"整形"を考える。  
というのも前から4行ほど表示してみると...

In [12]:
df[0:4]

   Unnamed: 0 Unnamed: 1 Unnamed: 2  ... Unnamed: 59 Unnamed: 60 更新日：2021年2 月○日
0         NaN    食　品　番　号    索　引　番　号  ...         NaN         NaN           備　　考
1         NaN        NaN        NaN  ...       アルコール       食塩相当量            NaN
2         NaN        NaN        NaN  ...         NaN         NaN            NaN
3         NaN        NaN        NaN  ...         NaN         NaN            NaN

[4 rows x 62 columns]

最初の4行ほどに栄養素等の情報が入っているのだが、  
セルが結合されたりしているため、所々にNaNが入っていたりして見辛い。

(碁盤目の構造を破壊してしまうため「セルの結合」は機械的な処理と  
やや相性が悪く、プログラミングを用いたデータ分析では嫌われる)

各省庁の公開データのフォーマットの統一化は今後に期待することにして...  
まず以下の項目に該当する列だけを抽出する事を考える。

In [13]:
targets = ["食品名", "エネルギー","たんぱく質", "脂質", "炭水化物"]

該当するデータがどの行・列に格納されているかをコードで指定するのは、  
前述のファイル構造の事情からやや面倒くさい。  

以下では、その場しのぎ的ではあるが、  
興味のある量が何番目かを指定してまとめてみることにしよう。

そのために、1行目の要素を表示してみよう。

In [14]:
#1行目(エクセルだと2行目)の要素を表示してみる
print(list(df.iloc[0].values))

#半角空白, 全角空白(\u3000)や改行コード\nを取り除いたリストを作って表示してみる
tlist = list(map( lambda s: str(s).replace("\u3000","").replace("\n","").replace(" ",""),df.iloc[0].values))
print(tlist)

[nan, '食\u3000品\u3000番\u3000号', '索\u3000引\u3000番\u3000号', '可\u3000\u3000食\u3000\u3000部\u3000\u3000 100\u3000\u3000g\u3000\u3000当\u3000\u3000た\u3000\u3000り', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '可\u3000\u3000食\u3000\u3000部\u3000\u3000 100\u3000 g\u3000\u3000当\u3000\u3000た\u3000\u3000り', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '備\u3000\u3000考']
['nan', '食品番号', '索引番号', '可食部100g当たり', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '可食部100g当たり', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '備考']

セルの結合により、興味のあるデータがどの列に記述されているかは注意が必要。  

実際、[エネルギー]という文字列は1行目の6列目(それぞれインデックスでいうと0,5)で取得できるが、  
kJ単位になっていて、kcal単位でほしければ、7列目に格納された値が必要になる。  

また、エクセルファイルを見るとわかるように、たんぱく質・脂質・炭水化物はさらに細分化されており、  
O列R列など、細かい列の分割が挿入されている. ~~これは大変困る~~

単純にたんぱく質・脂質・炭水化物と表記されている列のインデックスはそれぞれ9,12,20となる。  
食品名が格納されている列(3)、エネルギー[kJ単位] (6)と合わせて確認してみよう。

In [15]:
df.iloc[:,[3,6,9,12,20]]

                    Unnamed: 3 Unnamed: 6 Unnamed: 9 Unnamed: 12 Unnamed: 20
0    可　　食　　部　　 100　　g　　当　　た　　り        NaN        NaN         NaN         NaN
1                        食　品　名        NaN        NaN         NaN         NaN
2                          NaN        NaN      たんぱく質          脂質        炭水化物
3                          NaN        NaN        NaN         NaN         NaN
4                          NaN        NaN        NaN         NaN         NaN
..                         ...        ...        ...         ...         ...
211                     ひえ　精白粒        361        9.4         3.3        73.2
212                    もろこし　玄穀        344       10.3         4.7        71.1
213                   もろこし　精白粒        348        9.5         2.6        74.1
214                   ライむぎ　全粒粉        317       12.7         2.7        70.7
215                  ライむぎ　ライ麦粉        324        8.5         1.6        75.8

[216 rows x 5 columns]

もう少し整形したいので、新しいデータフレームのコラムを書き換える。

食品名等が記載されているのは10行目以降なので、それを使い  
columnを指定する。

さらに、食品名に含まれる余分な文字コードも削除しておこう。

In [16]:
ndf = df.iloc[:,[3,6,9,12,20]] 
ndf = ndf.iloc[10:,:]
ndf.columns=["食品名","エネルギー(kcal)","たんぱく質(g)","脂質(g)","炭水化物(g)"]
ndf["食品名"] = ndf["食品名"].str.replace("\u3000"," ") # 食品名の中にある余分な全角空白(\u3000)を半角スペースに置き換える
ndf

             食品名 エネルギー(kcal) たんぱく質(g) 脂質(g)  炭水化物(g)
10         成分識別子  ENERC_KCAL    PROT-  FAT-  CHOCDF-
11     アマランサス 玄穀         343     12.7   6.0     64.9
12        あわ 精白粒         346     11.2   4.4     69.7
13       あわ あわもち         210      5.1   1.3     45.3
14   えんばく オートミール         350     13.7   5.7     69.1
..           ...         ...      ...   ...      ...
211       ひえ 精白粒         361      9.4   3.3     73.2
212      もろこし 玄穀         344     10.3   4.7     71.1
213     もろこし 精白粒         348      9.5   2.6     74.1
214     ライむぎ 全粒粉         317     12.7   2.7     70.7
215    ライむぎ ライ麦粉         324      8.5   1.6     75.8

[206 rows x 5 columns]

次に、食品名の一覧を取得した後、興味のあるもの(日常的に馴染みのあるもの)だけを  
ピックアップしてみよう。

In [17]:
print(list(ndf["食品名"]))

['成分識別子', 'アマランサス 玄穀', 'あわ 精白粒', 'あわ あわもち', 'えんばく オートミール', 'おおむぎ 七分つき押麦', 'おおむぎ 押麦 乾', 'おおむぎ 押麦 めし', 'おおむぎ 米粒麦', 'おおむぎ 大麦めん 乾', 'おおむぎ 大麦めん ゆで', 'おおむぎ 麦こがし', 'キヌア 玄穀', 'きび 精白粒', 'こむぎ ［玄穀］ 国産 普通', 'こむぎ ［玄穀］ 輸入 軟質', 'こむぎ ［玄穀］ 輸入 硬質', 'こむぎ ［小麦粉］ 薄力粉 1等', 'こむぎ ［小麦粉］ 薄力粉 2等', 'こむぎ ［小麦粉］ 中力粉 1等', 'こむぎ ［小麦粉］ 中力粉 2等', 'こむぎ ［小麦粉］ 強力粉 1等', 'こむぎ ［小麦粉］ 強力粉 2等', 'こむぎ ［小麦粉］ 強力粉 全粒粉', 'こむぎ ［小麦粉］ プレミックス粉 お好み焼き用', 'こむぎ ［小麦粉］ プレミックス粉 ホットケーキ用', 'こむぎ ［小麦粉］ プレミックス粉 から揚げ用', 'こむぎ ［小麦粉］ プレミックス粉 天ぷら用', 'こむぎ ［小麦粉］ プレミックス粉 天ぷら用 バッター', 'こむぎ ［小麦粉］ プレミックス粉 天ぷら用 バッター 揚げ', 'こむぎ ［パン類］ 角形食パン 食パン', 'こむぎ ［パン類］ 角形食パン 焼き', 'こむぎ ［パン類］ 角形食パン 耳を除いたもの', 'こむぎ ［パン類］ 角形食パン 耳', 'こむぎ ［パン類］ 食パン リーンタイプ', 'こむぎ ［パン類］ 食パン リッチタイプ', 'こむぎ ［パン類］ 山形食パン 食パン', 'こむぎ ［パン類］ コッペパン', 'こむぎ ［パン類］ 乾パン', 'こむぎ ［パン類］ フランスパン', 'こむぎ ［パン類］ ライ麦パン', 'こむぎ ［パン類］ 全粒粉パン', 'こむぎ ［パン類］ ぶどうパン', 'こむぎ ［パン類］ ロールパン', 'こむぎ ［パン類］ クロワッサン レギュラータイプ', 'こむぎ ［パン類］ クロワッサン リッチタイプ', 'こむぎ ［パン類］ くるみパン', 'こむぎ ［パン類］ イングリッシュマフィン', 'こむぎ ［パン類］ ナン', 'こむぎ ［パン類］ ベーグル', 'こむぎ ［うどん・そうめん類］ うどん 生', 'こむぎ ［うどん・そうめん類］ うどん ゆで', 'こむぎ ［うどん・そうめん類］ うどん 半生うどん', 'こむぎ ［うどん・そうめん類］ 干しうどん 乾', 'こむぎ ［うどん・そうめん類］ 干しうどん ゆで', 'こむぎ ［うどん・そうめん類］ そうめん・ひやむぎ 乾', 'こむぎ ［うどん・そうめん類］ そうめん・ひやむぎ ゆで', 'こむぎ ［うどん・そうめん類］ 手延そうめん・手延ひやむぎ 乾', 'こむぎ ［うどん・そうめん類］ 手延そうめん・手延ひやむぎ ゆで', 'こむぎ ［中華めん類］ 中華めん 生', 'こむぎ ［中華めん類］ 中華めん ゆで', 'こむぎ ［中華めん類］ 半生中華めん ', 'こむぎ ［中華めん類］ 蒸し中華めん 蒸し中華めん', 'こむぎ ［中華めん類］ 蒸し中華めん  ソテー', 'こむぎ ［中華めん類］ 干し中華めん 乾', 'こむぎ ［中華めん類］ 干し中華めん ゆで', 'こむぎ ［中華めん類］ 沖縄そば 生', 'こむぎ ［中華めん類］ 沖縄そば ゆで', 'こむぎ ［中華めん類］ 干し沖縄そば 乾', 'こむぎ ［中華めん類］ 干し沖縄そば ゆで', 'こむぎ ［即席めん類］ 即席中華めん 油揚げ味付け', 'こむぎ ［即席めん類］ 即席中華めん 油揚げ 乾 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 即席中華めん 油揚げ 調理後全体 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 即席中華めん 油揚げ ゆで （添付調味料等を含まないもの）', 'こむぎ ［即席めん類］ 即席中華めん 油揚げ 乾 （添付調味料等を含まないもの）', 'こむぎ ［即席めん類］ 即席中華めん 非油揚げ 乾 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 即席中華めん 非油揚げ 調理後全体 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 即席中華めん 非油揚げ ゆで （添付調味料等を含まないもの）', 'こむぎ ［即席めん類］ 即席中華めん 非油揚げ 乾 （添付調味料等を含まないもの）', 'こむぎ ［即席めん類］ 中華スタイル即席カップめん 油揚げ 塩味 乾 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 中華スタイル即席カップめん 油揚げ 塩味 調理後全体 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 中華スタイル即席カップめん 油揚げ 塩味 調理後のめん （スープを残したもの）', 'こむぎ ［即席めん類］ 中華スタイル即席カップめん 油揚げ しょうゆ味 乾 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 中華スタイル即席カップめん 油揚げ しょうゆ味 調理後全体 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 中華スタイル即席カップめん 油揚げ しょうゆ味 調理後のめん （スープを残したもの）', 'こむぎ ［即席めん類］ 中華スタイル即席カップめん 油揚げ 焼きそば 乾 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 中華スタイル即席カップめん 油揚げ 焼きそば 調理後全体 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 中華スタイル即席カップめん 非油揚げ 乾 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 中華スタイル即席カップめん 非油揚げ 調理後全体 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 中華スタイル即席カップめん 非油揚げ 調理後のめん （スープを残したもの）', 'こむぎ ［即席めん類］ 和風スタイル即席カップめん 油揚げ 乾 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 和風スタイル即席カップめん 油揚げ 調理後全体 （添付調味料等を含むもの）', 'こむぎ ［即席めん類］ 和風スタイル即席カップめん 油揚げ 調理後のめん （スープを残したもの）', 'こむぎ ［マカロニ・スパゲッティ類］ マカロニ・スパゲッティ 乾', 'こむぎ ［マカロニ・スパゲッティ類］ マカロニ・スパゲッティ ゆで', 'こむぎ ［マカロニ・スパゲッティ類］ マカロニ・スパゲッティ ソテー', 'こむぎ ［マカロニ・スパゲッティ類］ 生パスタ 生', 'こむぎ ［ふ類］ 生ふ', 'こむぎ ［ふ類］ 焼きふ 釜焼きふ', 'こむぎ ［ふ類］ 焼きふ 板ふ', 'こむぎ ［ふ類］ 焼きふ 車ふ', 'こむぎ ［ふ類］ 油ふ', 'こむぎ ［その他］ 小麦はいが', 'こむぎ ［その他］ 小麦たんぱく 粉末状', 'こむぎ ［その他］ 小麦たんぱく 粒状', 'こむぎ ［その他］ 小麦たんぱく ペースト状', 'こむぎ ［その他］ かやきせんべい', 'こむぎ ［その他］ ぎょうざの皮 生', 'こむぎ ［その他］ しゅうまいの皮 生', 'こむぎ ［その他］ 春巻きの皮 生', 'こむぎ ［その他］ 春巻きの皮 揚げ', 'こむぎ ［その他］ ピザ生地', 'こむぎ ［その他］ ちくわぶ', 'こむぎ ［その他］ パン粉 生', 'こむぎ ［その他］ パン粉 半生', 'こむぎ ［その他］ パン粉 乾燥', 'こむぎ ［その他］ 冷めん 生', 'こめ ［水稲穀粒］ 玄米', 'こめ ［水稲穀粒］ 半つき米', 'こめ ［水稲穀粒］ 七分つき米', 'こめ ［水稲穀粒］ 精白米 うるち米', 'こめ ［水稲穀粒］ 精白米 もち米', 'こめ ［水稲穀粒］ 精白米 インディカ米', 'こめ ［水稲穀粒］ はいが精米', 'こめ ［水稲穀粒］ 発芽玄米', 'こめ ［水稲穀粒］ 赤米', 'こめ ［水稲穀粒］ 黒米', 'こめ ［水稲めし］ 玄米', 'こめ ［水稲めし］ 半つき米', 'こめ ［水稲めし］ 七分つき米', 'こめ ［水稲めし］ 精白米 インディカ米', 'こめ ［水稲めし］ 精白米 うるち米', 'こめ ［水稲めし］ 精白米 もち米', 'こめ ［水稲めし］ はいが精米', 'こめ ［水稲めし］ 発芽玄米', 'こめ ［水稲めし］ 赤米', 'こめ ［水稲めし］ 黒米', 'こめ ［水稲軟めし］ 精白米', 'こめ ［水稲全かゆ］ 玄米', 'こめ ［水稲全かゆ］ 半つき米', 'こめ ［水稲全かゆ］ 七分つき米', 'こめ ［水稲全かゆ］ 精白米', 'こめ ［水稲五分かゆ］ 玄米', 'こめ ［水稲五分かゆ］ 半つき米', 'こめ ［水稲五分かゆ］ 七分つき米', 'こめ ［水稲五分かゆ］ 精白米', 'こめ ［水稲おもゆ］ 玄米', 'こめ ［水稲おもゆ］ 半つき米', 'こめ ［水稲おもゆ］ 七分つき米', 'こめ ［水稲おもゆ］ 精白米', 'こめ ［陸稲穀粒］ 玄米', 'こめ ［陸稲穀粒］ 半つき米', 'こめ ［陸稲穀粒］ 七分つき米', 'こめ ［陸稲穀粒］ 精白米', 'こめ ［陸稲めし］ 玄米', 'こめ ［陸稲めし］ 半つき米', 'こめ ［陸稲めし］ 七分つき米', 'こめ ［陸稲めし］ 精白米', 'こめ ［うるち米製品］ アルファ化米 一般用', 'こめ ［うるち米製品］ アルファ化米 学校給食用強化品', 'こめ ［うるち米製品］ おにぎり', 'こめ ［うるち米製品］ 焼きおにぎり', 'こめ ［うるち米製品］ きりたんぽ', 'こめ ［うるち米製品］ 上新粉', 'こめ ［うるち米製品］ 玄米粉', 'こめ ［うるち米製品］ 米粉', 'こめ ［うるち米製品］ 米粉パン 食パン', 'こめ ［うるち米製品］ 米粉パン ロールパン', 'こめ ［うるち米製品］ 米粉パン 小麦グルテン不使用のもの', 'こめ ［うるち米製品］ 米粉めん', 'こめ ［うるち米製品］ ビーフン', 'こめ ［うるち米製品］ ライスペーパー', 'こめ ［うるち米製品］ 米こうじ', 'こめ ［もち米製品］ もち', 'こめ ［もち米製品］ 赤飯', 'こめ ［もち米製品］ あくまき', 'こめ ［もち米製品］ 白玉粉', 'こめ ［もち米製品］ 道明寺粉', 'こめ ［その他］ 米ぬか', 'そば そば粉 全層粉', 'そば そば粉 内層粉', 'そば そば粉 中層粉', 'そば そば粉 表層粉', 'そば そば米', 'そば そば 生', 'そば そば ゆで', 'そば そば 半生そば', 'そば 干しそば 乾', 'そば 干しそば ゆで', 'とうもろこし 玄穀 黄色種', 'とうもろこし 玄穀 白色種', 'とうもろこし コーンミール 黄色種', 'とうもろこし コーンミール 白色種', 'とうもろこし コーングリッツ 黄色種', 'とうもろこし コーングリッツ 白色種', 'とうもろこし コーンフラワー 黄色種', 'とうもろこし コーンフラワー 白色種', 'とうもろこし ジャイアントコーン フライ 味付け', 'とうもろこし ポップコーン', 'とうもろこし コーンフレーク', 'はとむぎ 精白粒', 'ひえ 精白粒', 'もろこし 玄穀', 'もろこし 精白粒', 'ライむぎ 全粒粉', 'ライむぎ ライ麦粉']

この中から...
* こむぎ［パン類］食パンリッチタイプ
* こむぎ［パン類］フランスパン
* こめ［水稲軟めし］精白米
* そばそばゆで
* こむぎ［うどん・そうめん類］うどんゆで

のみに興味があれば

In [18]:
tshokuhin = ["こむぎ ［パン類］ 食パン リッチタイプ","こむぎ ［パン類］ フランスパン","こめ ［水稲軟めし］ 精白米", "そば そば ゆで", "こむぎ ［うどん・そうめん類］ うどん ゆで"]
ndf[ ndf["食品名"].isin(tshokuhin)]

                        食品名 エネルギー(kcal) たんぱく質(g)  脂質(g) 炭水化物(g)
45     こむぎ ［パン類］ 食パン リッチタイプ         256    (7.8)  (6.0)  (45.6)
49         こむぎ ［パン類］ フランスパン         289      9.4    1.3    57.5
61   こむぎ ［うどん・そうめん類］ うどん ゆで          95      2.6    0.4    21.6
147          こめ ［水稲軟めし］ 精白米         113    (1.8)  (0.3)  (26.4)
195                そば そば ゆで         130      4.8    1.0    26.0

などとする。

'6野菜類'でも同様に...

In [20]:
df6 = pd.read_excel(url,sheet_name="6野菜類")
df6.iloc[:,[3,6,9,12,20]]
ndf6 = df6.iloc[:,[3,6,9,12,20]] 
ndf6 = ndf6.iloc[10:,:]
ndf6.columns=["食品名","エネルギー(kcal)","たんぱく質(g)","脂質(g)","炭水化物(g)"]
ndf6["食品名"] = ndf6["食品名"].str.replace("\u3000"," ") 
ndf6

                         食品名 エネルギー(kcal) たんぱく質(g) 脂質(g)  炭水化物(g)
10                     成分識別子  ENERC_KCAL    PROT-  FAT-  CHOCDF-
11            アーティチョーク 花らい 生          39      2.3   0.2     11.3
12           アーティチョーク 花らい ゆで          35      2.1   0.1     10.8
13                  あさつき 葉 生          34      4.2   0.3      5.6
14                 あさつき 葉 ゆで          41      4.2   0.3      7.3
..                       ...         ...      ...   ...      ...
407       （その他） ミックスベジタブル 冷凍          67      3.0   0.7     15.1
408    （その他） ミックスベジタブル 冷凍 ゆで          65      3.1   0.8     14.6
409  （その他） ミックスベジタブル 冷凍 油いため         108      3.3   4.9     15.7
410   （その他） 野菜ミックスジュース 通常タイプ          21      0.8   0.1      4.7
411   （その他） 野菜ミックスジュース 濃縮タイプ          36      1.0   0.3      7.8

[402 rows x 5 columns]

特定のキーワードを含むものを全て取得して、  
食品名を細かく指定したり、対応する行番号のインデックスを取得できたりする

In [21]:
kyabetu = ndf6[ndf6["食品名"].str.contains('キャベツ')]
kyabetu

                       食品名 エネルギー(kcal) たんぱく質(g) 脂質(g) 炭水化物(g)
81      （キャベツ類） キャベツ 結球葉 生          21      1.3   0.2     5.2
82     （キャベツ類） キャベツ 結球葉 ゆで          19      0.9   0.2     4.6
83   （キャベツ類） キャベツ 結球葉 油いため          78      1.6   6.0     5.9
84   （キャベツ類） グリーンボール 結球葉 生          20      1.4   0.1     4.3
85   （キャベツ類） レッドキャベツ 結球葉 生          30      2.0   0.1     6.7
358            めキャベツ 結球葉 生          52      5.7   0.1     9.9
359           めキャベツ 結球葉 ゆで          51      5.3   0.1     9.8

In [22]:
tomato = ndf6[ndf6["食品名"].str.contains('トマト')]
tomato

                           食品名 エネルギー(kcal) たんぱく質(g) 脂質(g) 炭水化物(g)
221          （トマト類） 赤色トマト 果実 生          20      0.7   0.1     4.7
222        （トマト類） 赤色ミニトマト 果実 生          30      1.1   0.1     7.2
223          （トマト類） 黄色トマト 果実 生          18      1.1   0.4     3.2
224              （トマト類） ドライトマト         291     14.2   2.1    67.3
225       （トマト類） 加工品 ホール 食塩無添加          21      0.9   0.2     4.4
226    （トマト類） 加工品 トマトジュース 食塩添加          15      0.7   0.1     4.0
227   （トマト類） 加工品 トマトジュース 食塩無添加          18      0.7   0.1     4.0
228   （トマト類） 加工品 ミックスジュース 食塩添加          18      0.6     0     4.3
229  （トマト類） 加工品 ミックスジュース 食塩無添加          18      0.6     0     4.3

DataFrame同士を結合してまとめるなどして  
扱いやすいデータに整形していく.

縦方向の結合はpandasのconcat(concatenateの略)を使う。

In [23]:
tdf = pd.concat([kyabetu, tomato])
tdf

                           食品名 エネルギー(kcal) たんぱく質(g) 脂質(g) 炭水化物(g)
81          （キャベツ類） キャベツ 結球葉 生          21      1.3   0.2     5.2
82         （キャベツ類） キャベツ 結球葉 ゆで          19      0.9   0.2     4.6
83       （キャベツ類） キャベツ 結球葉 油いため          78      1.6   6.0     5.9
84       （キャベツ類） グリーンボール 結球葉 生          20      1.4   0.1     4.3
85       （キャベツ類） レッドキャベツ 結球葉 生          30      2.0   0.1     6.7
358                めキャベツ 結球葉 生          52      5.7   0.1     9.9
359               めキャベツ 結球葉 ゆで          51      5.3   0.1     9.8
221          （トマト類） 赤色トマト 果実 生          20      0.7   0.1     4.7
222        （トマト類） 赤色ミニトマト 果実 生          30      1.1   0.1     7.2
223          （トマト類） 黄色トマト 果実 生          18      1.1   0.4     3.2
224              （トマト類） ドライトマト         291     14.2   2.1    67.3
225       （トマト類） 加工品 ホール 食塩無添加          21      0.9   0.2     4.4
226    （トマト類） 加工品 トマトジュース 食塩添加          15      0.7   0.1     4.0
227   （トマト類） 加工品 トマトジュース 食塩無添加          18      0.7   0.1     4.0
228   （トマト類） 加工品 ミックスジュース 食塩添加          18      0.6     0     4.3
229  （トマト類） 加工品 ミックスジュース 食塩無添加          18      0.6     0     4.3

# LICENSE


Copyright (C) 2021 Sota Yoshida

[ライセンス:クリエイティブ・コモンズ 4.0 表示 (CC-BY 4.0)](https://creativecommons.org/licenses/by/4.0/deed.ja)